html {
    font-size:62.5%;
}

body{
    margin:0;
    padding:0;
    color:$black;
    font:normal rem(16)/1.65 $font;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: normal;
    margin:0;
    padding:0;
    line-height:1.2;
}
p {
    margin: 0 0 rem(10);
}
.bg-trans-primary {
    background:$bg-trans-primary;
}
.bg-trans-secondary {
    background:$bg-trans-secondary;
}